<ion-header no-border>
  <ion-toolbar color="toolbar">
    <ion-title> <img src="assets/imgs/algarve-dark.svg" height="46" /> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="containner">
    <div class="ion-text-center image-container">
      <img src="assets/imgs/offline.svg" />
    </div>
    <ion-row class="ion-text-center">
      <h2>Parece que você está sem conexão com a internet</h2>
      <ion-text>Não se preocupe assim que a conexão for restabelecida redirecionaremos você para o App novamente!</ion-text>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-button expand="block" color="tertiary" (click)="tryReconnect()">Tentar Reconectar</ion-button>
    </ion-row>
  </div>
</ion-content>