<ion-header no-border>
  <ion-toolbar color="toolbar">
    <ion-title> <img src="assets/imgs/algarve-dark.svg" height="46" /> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button color="tertiary" (click)="presentActionSheet(profileId)">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-list-header color="secondary" class="ion-no-margin">
    <ion-label>
      <h1 class="ion-text-uppercase">PERFIL</h1>
    </ion-label>
  </ion-list-header>

  <div *ngIf="(profile$ | async) as profile">
    <app-profile-card [profile]="profile"></app-profile-card>

    <ion-toolbar no-border-top>
      <ion-segment value="profile" [(ngModel)]="segments" color="tertiary" (ionChange)="ionSegmentChange($event)">
        <ion-segment-button value="profile">
          <ion-label>Perfil</ion-label>
        </ion-segment-button>
        <ion-segment-button value="bookings">
          <ion-label>Reservas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="warnings">
          <ion-label>Advertências</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="segments">
      <div *ngSwitchCase="'profile'" class="ion-padding">
        <ion-item lines="full">
          <ion-icon slot="start" name="mail"></ion-icon>
          <ion-label>
            E-mail
          </ion-label>
          <ion-label slot="end" class="ion-text-right">{{profile.email}}</ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-label>
            Telefone
          </ion-label>
          <ion-label slot="end" class="ion-text-right">{{profile.phone}}</ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-icon slot="start" name="phone-portrait"></ion-icon>
          <ion-label>
            Celular
          </ion-label>
          <ion-label slot="end" class="ion-text-right">{{profile.mobile}}</ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-icon slot="start" name="car"></ion-icon>
          <ion-label>
            Garagem
          </ion-label>
          <ion-label slot="end" class="ion-text-right">{{profile.parkingSpace?.join(', ')}}</ion-label>
        </ion-item>

        <ion-item-divider color="light">
          <ion-label>PREFERÊNCIAS</ion-label>
        </ion-item-divider>

        <ion-item lines="full">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Tema Escuro
          </ion-label>
          <ion-toggle [checked]="darkTheme" id="themeToggle" slot="end" (ionChange)="toogleDarkTheme($event)"
            color="dark">
          </ion-toggle>
        </ion-item>
        <ion-list-header class="ion-text-center">
          <ion-label>Versão {{version}}</ion-label>
        </ion-list-header>
      </div>

      <div *ngSwitchCase="'bookings'">
        <ion-item>
          <ion-label>Visualizar Histórico</ion-label>
          <ion-toggle checked="false" [(ngModel)]="history" (ionChange)="selectedBookings()"></ion-toggle>
        </ion-item>
        <div *ngIf="(userBookings$ | async) as userBookings; else: loadingOrError">
          <div *ngFor="let userBooking of userBookings">
            <app-booking-card [booking]="userBooking"></app-booking-card>
          </div>
          <ion-list-header [hidden]="userBookings.length > 0">
            <ion-label>Você não possui reservas</ion-label>
          </ion-list-header>
        </div>

        <!-- Tratamento de erros -->

        <ng-template #loadingOrError>
          <ion-list-header *ngIf="(loadingError$ | async); else: loading">
            <ion-label>Erro ao carregar reservas!</ion-label>
          </ion-list-header>
        </ng-template>

        <ng-template #loading>
          <ion-list-header>
            <ion-label>Carregando reservas...</ion-label>
          </ion-list-header>
        </ng-template>
      </div>
      <!-- ===================================================== -->
      <div *ngSwitchCase="'warnings'">
        <ion-list-header [hidden]="">
          <ion-label> Você não possui advertências</ion-label>
        </ion-list-header>
      </div>
    </div>
  </div>
</ion-content>