:root {
  /** quaternary **/
  --ion-color-quaternary: #417e5c;
  --ion-color-quaternary-rgb: 65, 126, 92;
  --ion-color-quaternary-contrast: #ffffff;
  --ion-color-quaternary-contrast-rgb: 0, 0, 0;
  --ion-color-quaternary-shade: #396f51;
  --ion-color-quaternary-tint: #548b6c;

  /** toolbar / tabs **/
  --ion-color-toolbar: #242420;
  --ion-color-toolbar-rgb: 36, 36, 32;
  --ion-color-toolbar-contrast: #ffffff;
  --ion-color-toolbar-contrast-rgb: 255, 255, 255;
  --ion-color-toolbar-shade: #20201c;
  --ion-color-toolbar-tint: #3a3a36;
}
